{% extends "insta/base.html" %} {% load static %} {% block content %}
<!-- navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
      <img src='{% static "instapp\images\ig.svg" %}' /><strong
        >InstApp</strong
      ></a
    >
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div>
      <a href="{% url 'profile' request.user.id %}"
        ><i class="fa-solid fa-user-astronaut" style="font-size: 26px"></i
      ></a>
    </div>
  </nav>
</div>

<!-- display section -->
<div class="row m-4">
  {% for picture in pictures %}
  <div class="col col-md-8 mx-auto">
    <div class="card mb-2" data-toggle="modal">
      <h3><strong>{{picture.author.username}}</strong></h3>

      <img
        class="card-img-top"
        src="{{ picture.image.url}}"
        alt="Card image cap"
      />
      <div class="card-footer">
        <p>
          <strong>{{picture.author.username}}:</strong>{{ picture.imge_caption}}
        </p>
        <small class="text-muted">{{ picture.date_posted}}</small>
        <hr />
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
