{% extends 'insta/base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block content %}
<!-- navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="{% url 'home' %}">InstApp</a>
    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <div>
      <a href="{% url 'profile' request.user.id %}">{{user.username}}</a>
    </div>
    <div>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </nav>
</div>

<!-- profile section -->
<div class="container">
  {% for user in profile %}
  <!-- profile picture section -->
  <div>
    <img
      src="{{ user.profile_photo.url}}"
      class="rounded-circle"
      alt="Rounded Image"
      width="200"
      height="200"
    />
    <h3>{{ user.username }}</h3>

    <h4>{{ user.email }}</h4>
  </div>
  <!-- follow and following section -->
  <!-- <div class="row">
    <div class="col-">
      {{user.posts}}
    </div>
    <div class="col-">
      {{user.following}}
    </div>
    <div class="col-">
      {{user.followers}}
    </div>
  </div> -->

  <!-- images posted by user section -->
  <!-- {% endfor %} -->
</div>
{% endblock %}
